/* Styles for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
  }
  
  .navbarLogo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .navbarLinks {
    list-style: none;
    display: flex;
  }
  
  .navbarLinks li {
    margin: 0 10px;
  }
  
  .navbarLinks a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
  }
  
  .navbarLinks a:hover {
    color: #ddd;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbarLinks {
      flex-direction: column;
      align-items: center;
    }
  
    .navbarLinks li {
      margin: 10px 0;
    }
  }
  